
.times-new-roman {
    font-family: 'Times New Roman', Times, serif;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media only screen and (max-width: 500px) {
    .column {
      width: 100%;
      background-image: yellow;
    }
  }

header {
    color: black;
    text-align: center;
    padding: 156px 0 100px;
}

.video {
 margin: 0 auto;
 display: flex;
 flex-direction: column;
 justify-content: center;
 border: 20px solid #dddddd
}

.flex-center {
    display: flex;
    justify-content: center;
  }

  /*ul.copyright {
    padding: 0 10px;
    list-style-type: none;
    height: 100%;
    display: flexgit;
    justify-content: space-between;
    align-items: center;
  }
  */

  /* dot for the bulleted list
  .dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  } */
  
/*images side by side*/
  .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }


/* make image into circle*/

img {
    border-radius: 50%;
  }

footer {
    background-color: darkgray;
    color: white;
    height: 50px;
  }

.footer-flex {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-item-flex {
    flex: 0 1 auto;
}